<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">İdarəetmə</div>
        <ul class="pcoded-item pcoded-left-item">
            @if (User.HasAccess("admin.dashboard.index"))
            {
                <li>
                    <a asp-controller="dashboard" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Ana səhifə</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.products.index"))
            {
                <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-package"></i></span>
                        <span class="pcoded-mtext">Məhsullar</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a asp-controller="products" asp-action="index">
                                <span class="pcoded-mtext">Aktiv məhsullar</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="products" asp-action="deletedindex">
                                <span class="pcoded-mtext">Kecmiş məhsullar</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.HasAccess("admin.rooms.index"))
            {
                <li>
                    <a asp-controller="Rooms" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-box"></i>
                        </span>
                        <span class="pcoded-mtext">Otaqlar</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.roomtypes.index"))
            {
                <li>
                    <a asp-controller="RoomTypes" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-grid"></i>
                        </span>
                        <span class="pcoded-mtext">Otaqlar Növləri</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.suppliers.index"))
            {
                <li>
                    <a asp-controller="suppliers" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-users"></i>
                        </span>
                        <span class="pcoded-mtext">Tədarükçülər</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.blogposts.index"))
            {
                <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-inbox"></i></span>
                        <span class="pcoded-mtext">Forum</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a asp-controller="blogposts" asp-action="index">
                                <span class="pcoded-mtext">Paylaşımlar</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="blogposts" asp-action="DeletedPosts">
                                <span class="pcoded-mtext">Silinmiş paylaşımlar</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.HasAccess("admin.contactposts.index"))
            {
                <li>
                    <a asp-controller="ContactPosts" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-mail"></i>
                        </span>
                        <span class="pcoded-mtext">Müraciətlər</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.currencies.index") || User.HasAccess("admin.measures.index"))
            {
                <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-briefcase"></i></span>
                        <span class="pcoded-mtext">Alətlər</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                        @if (User.HasAccess("admin.currencies.index"))
                        {
                            <li>
                                <a asp-controller="currencies" asp-action="index">
                                    <span class="pcoded-mtext">Valyuta</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("admin.measures.index"))
                        {
                            <li>
                                <a asp-controller="measures" asp-action="index">
                                    <span class="pcoded-mtext">Ölçü Vahidləri</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
        @if (User.HasAccess("admin.users.index") || User.HasAccess("admin.radissonroles.index") || User.HasAccess("admin.subscribes.index"))
        {
            <div class="pcoded-navigatio-lavel">Parametrlər</div>
            <ul class="pcoded-item pcoded-left-item">
                @if (User.HasAccess("admin.users.index"))
                {
                    <li>
                        <a asp-controller="users" asp-action="index">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i>
                            </span>
                            <span class="pcoded-mtext">İstifadəçilər</span>
                        </a>
                    </li>
                }
                @if (User.HasAccess("admin.radissonroles.index"))
                {
                    <li>
                        <a asp-controller="RadissonRoles" asp-action="index">
                            <span class="pcoded-micon">
                                <i class="feather icon-sliders"></i>
                            </span>
                            <span class="pcoded-mtext">Rollar</span>
                        </a>
                    </li>
                }
                @if (User.HasAccess("admin.subscribes.index"))
                {
                    <li>
                        <a asp-controller="Subscribes" asp-action="index">
                            <span class="pcoded-micon">
                                <i class="feather icon-at-sign"></i>
                            </span>
                            <span class="pcoded-mtext">Abunələr</span>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</nav>